/* Afficher la flèche précédent */
input[name='selecteurEtat']:checked ~ label .flechePrecedent {
    display : block;
}

/* Afficher la flèche suivant */
input[name='selecteurEtat']:checked ~ input[name='selecteurEtat'] ~ label .flecheSuivant {
    display : block;
}

/* Masquer les flèches précédent qui suivent */
input[name='selecteurEtat']:checked ~ input[name='selecteurEtat'] ~ label .flechePrecedent {
    display : none;
}

/* Masquer les flèches suivant qui suivent */
input[name='selecteurEtat']:checked ~ input[name='selecteurEtat'] ~ input[name='selecteurEtat'] ~ label .flecheSuivant {
    display : none;
}

/* Masquer les input radio */
input[name='selecteurEtat'] {
    display : none;
}

/* Masquer la première flèche précédent */
/* label[for="selecteurEtat0"] { */
/*     display : none; */
/* } */

input[name='selecteurEtat']:checked ~ .etat {
    display : block;
}

input[name='selecteurEtat']:checked ~ input[name='selecteurEtat'] ~ .etat {
    display : none;
}

.fleche {
    position : absolute;
    width : 50px;
    top : 13px;
    display : none;
    z-index : 1;
    cursor : pointer;
}

.flecheSuivant {
    left : 75px;
}

.flechePrecedent {
    left : 20px;
}

#raccourcis > label {
    background-color: green;
    border-radius: 50%;
    box-shadow: 0 0 4px 3px;
    cursor: pointer;
    display: inline-block;
    height: 17px;
    line-height: 17px;
    margin-left: 10px;
    margin-top: 15px;
    padding: 5px;
    text-align: center;
    text-indent: -1px;
    width: 17px;
}

#raccourcis {
    margin-top: 30px;
}

.noeud {
    width : 10px;
    height : 10px;
    border-radius : 50%;
    background-color : black;
    text-indent : 15px;
    position : absolute;
    margin-bottom : -5px;
    margin-left : -5px;
}

.donnee {
    background-color: red;
    font-size: 13px;
    height: 5px;
    text-indent: 5px;
    width: 5px;
}

.zone {
    border-top : 1px solid black;
    border-right : 1px solid black;
    position : absolute;
}

.etat {
    width : 1001px;
    /* height : 1001px; */
    margin-top : 80px;
    display : none;
}

.grille {
    position : relative;
    border-bottom : 1px solid black;
    border-left : 1px solid black;
    width : 1001px;
    height : 1001px;
}

.etat h1 {
    position: relative;
    /* top: -60px; */
    margin : 20px 120px;
    margin-top : -60px;
    text-align : center;
}

